* {
    padding: 0px;
    margin: 0px;
    font-family: 'Arial',   
}

.box {
    border: 1px solid red;
    margin: 10px;
    min-height: 50px;
}

body {
    display: flex;
    flex-direction: column;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url(assets/bg-building.png);
  background-size: cover;
}

header > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 3.5rem 0rem;
  }

  img {
    border-radius: 10rem;
  }

.hdr-txt {
    /* width: fit-content;
    height: fit-content; */
}

#hdr-name {
    font-size: 2rem;
    color: #ffc107;
    font-weight: bold;

    margin: 0px;
}

#hdr-title {
    font-size: 1.25rem;
    color: white;
    font-family: 'Times New Roman';
}

#navbarNavDropdown{
    text-align: center;
}

.dropdown-menu {
    --bs-dropdown-link-active-bg: #343a40;
}

#about-me {
    background-color: #ffc107;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#about-me > h2 {
    margin: 1rem;
    color: #f8f9fa;
}

#abt-me-txt {
    text-align: justify;
    
    font-family: 'Arial';
    font-weight: lighter;
}

#work-experience {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#work-experience > h2 {
    margin: 1rem 0rem;
}

.card-title {
    font-family: 'Arial';
    font-weight: bold;
}

.card-subtitle {
    font-family: 'Arial';
    font-weight: 500;
}

#education {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #f8f9fa;
}

#education > h2 {
    margin: 1rem 0rem;
}

#skills {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#skills > h2 {
    margin: 1rem;
}

.progress-bar {
    background-color: #ffc107;
}

#contact-me {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #ffc107;
}

#contact-me > h2 {
    margin: 1rem;
}

footer {
    background-color: #343a40;
    height: 3rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}